Javascript tehtävät/bin/
Javascript tehtävät/node_modules/
Javascript tehtävät/public/
Javascript tehtävät/routes/
Javascript tehtävät/app.js
Javascript tehtävät/package.json
Javascript tehtävät/package-lock.json